body {
  --background-color: white;
  background-color: var(--background-color);
  transition: background-color 1s ease-in-out;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo, .coming-soon, .game-logo {
  max-width: 50%;
  max-height: 50%;
  height: auto;
  opacity: 0;
  position: absolute;
  transition: opacity 3s ease-in-out;
}

.logo {
  animation: fadeIn 3s ease-in-out;
}

.game-logo {
  max-width: 100%;
  max-height: 100%;
}

.visible {
  opacity: 1;
}

.coming-soon {
  font-size: 3em;
  color: #333;
}

.nav-dots {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  margin: 10px 0;
}

.nav-dot.active {
  background: #333;
}

@media (max-width: 600px) {
  .logo {
    max-width: 80%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}